

body {    
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient( #d80bdf, #10d110);
    margin-top: 80px;
    padding: 30px;
}

.scene {
  width: 1000px;
  height: 1000px;

  margin: 30px 0;
  margin-left: auto;
  margin-right: auto;
  perspective: 600px;
  position: center;
}

.card {
  width: 100%;
  height: 100%;
  position:center;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 25px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--front {
  background: linear-gradient( #A0A1A4, #828385);
  
}

.card__face--back {
  background: linear-gradient( #A0A1A4, #828385);;
  transform: rotateY(180deg);
}

.form-container{
    display: flex;
    justify-content: center;
    transform: translate(0, 35%);
    box-sizing: border-box;
    padding: 12px 5px;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

h1{
  font-size: 50px;
}

label{
  font-family: sans-serif;
  font-weight: normal;
  font-size: 20px;
}

.button-login {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
.button-register{
  border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.button-register1{
  border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.switch{
  position:absolute;
  top: 400px;
  left:0;
  width:100%;
  height:100%;
}

header{
  background-color: palegreen;
  position:fixed;
  top: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
}

header * {
  display:inline;
}

header li{
  margin:15px;
}

header li a {
  color: rgb(255, 187, 0);
  text-decoration: none;
}

.posts{
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

