


.inbox_style p {
  padding: 15px;
  text-align: left;
  background-color: white;
  margin-left: auto;
  margin-right: auto; 
}

.inbox_container_style {
  padding: 4px;  
  background-color: white;
  position: absolute;
  width: 72%;
  height: 75%;
  left: 12%;  
  opacity: 0.8;  
  border: 2px solid silver;
  overflow-x: hidden;
  overflow-y: auto;
}

.nonScrollable {
  overflow: hidden;
}

header{
	background-color: #708090;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	height: 80px;
	display: flex;
	align-items: center;
	border-bottom: 2px solid #000;
	z-index: 1000;
  }
  
  header * {
  display:inline;
  box-sizing:border-box;
  }
  
  header li{
  margin:15px;
  }
  
  header li a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

body {    
  font-family: 'Montserrat', sans-serif;
  color: #200000; 
  background: linear-gradient(#f2f2f2, #f2f2f2, #f2f2f2);
  /* background: linear-gradient(#2b6775,#2b6675,#2b6770) ; */
  padding: 30px;
  margin-top: 80px;
}

.scene {
width: 1000px;
height: 1000px;
margin: 30px 0;
margin-left: auto;
margin-right: auto;
perspective: 600px;
position: center;
}

.card {
width: 100%;
height: 100%;
position:center;
transition: transform 1s;
transform-style: preserve-3d;
position: relative;
}


.login_Style {
position: absolute;
width: 100%;
height: 75%;
line-height: 25px;
text-align: center;
font-weight: bold;
font-size: 5px;
}

.title{
  color: #0384fc;
  font-size:75px;
  font-weight: bold;
}


.form-container{
	position:absolute;
	display: flex;
  	justify-content: center;
	transform: translate(0, 35%);
	box-sizing: border-box;
	padding: 12px 5px;
	justify-content: center;
	transform: translate(0, 35%);
	box-sizing: border-box;
    	position: absolute;
	top: 85%;
	left: 11.5%;
	padding: 12px 5px;
}

input:focus {
background-color: #eee;
border: none;
padding: 12px 15px;
margin: 8px 0;
width: 150px;
}

h1 {
	left: 15%;	
}

h2 {
	font-size: 35px;
    	position: absolute; 
	left: 44%;
	z-index: -1;
	top: 7%;
}

label{
font-family: 'Montserrat', sans-serif;
font-weight: normal;
font-size: 30px;
}

label.followingPointer {
	cursor: pointer; 
	position: absolute;
	left: 34%;    
	top: 16%;
}

label.followerPointer {
	cursor: pointer;
    	position: absolute;
    	left: 54%;    
	top: 16%;
}

.button-login {
border-radius: 20px;
border: 1px solid #c8d8e4;
background-color: #c8d8e4;
color: #FFFFFF;
font-size: 13px;
font-weight: bold;
padding: 12px 45px;
letter-spacing: 1px;
text-transform: uppercase;
cursor: pointer;
transition: transform 80ms ease-in;
}

.create_user{
  margin:0 ; 
  width:400px;
  padding:20px;
  border:2px solid #333;
  overflow: hidden;
}
.search_post{
  width:400px;
  padding:20px;
  overflow: hidden;
}

.inbox_style p {
  padding: 15px;
  text-align: left;
  background-color: white;
  margin-left: auto;
  margin-right: auto; 
}

.inbox_container_style {
  padding: 4px;  
  background-color: white;
  position: absolute;
  width: 72%;
  height: 75%;
  left: 12%;  
  opacity: 0.8;  
  border: 2px solid silver;
  overflow-x: hidden;
  overflow-y: auto;
}

.timeline{
  display:grid;
  padding-top: 3%;
}

.posts{
    font-size: 50px;
    justify-content: center;
    align-content: center;
    background-color: gray;
    width: 60%;
    top: 22%;
    margin: 0 auto;
    border-radius: 25px;
    padding: 0.5%;
}
  
.puser{
  color:#000;
  border-bottom: 1px solid;
  padding-bottom: 5px;
  padding-left: 15px;}
.post_image{
  border: orange;
  display: block;
  margin: 0 auto;
  /* border-top: 5px solid; */
}
.ptext{
  font-size:50px;
  border-top: 1px solid;
  padding-bottom: 5px;
  padding-left: 15px;
}
.ptime{
  font-size:50px;
  color:#000;

}

.nonScrollable {
  overflow: hidden;
}

.follow_list {
	background-color: white;
	position: fixed;
	width: 13.7%;
	height: 40%;
	bottom: 48%;
	opacity: 0.8;
	right: 0%;    
	text-align: center;
	color: #2c03fc;
	text-decoration: underline;
	border: 2px solid silver;
	font-weight: bold;
}

#followerButton {
	color: #3399FF;
  	font-family: "Helvetica";
  	font-size: 10pt;
	background-color: #ffffff;
	border: 1px solid;
	border-color: #3399FF;
	border-radius: 3px;
	width: 85px;
	height: 30px;
	cursor: pointer;		    
}

button.searchbtnsong {
	position: absolute;
    	top: 13.2%;
    	left: 34%;
}	

input#img {
	position: absolute;
	top: 21%;
	left: 14%;
}
