

body {    
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient( #d80bdf,rgb(250, 171, 2) ,rgb(236, 174, 4),rgb(246, 250, 2));
    padding: 30px;
    margin-top: 80px;
}



.form-group{
  width: 1000px;
  height: 1000px;

  margin: 30px 0;
  margin-left: auto;
  margin-right: auto;
  perspective: 600px;
  position: center;
}

.login{
    display: flex;
    justify-content: center;
    transform: translate(0, 35%);
    box-sizing: border-box;
    padding: 12px 5px;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

h1{
  font-size: 50px;
}

label{
  font-family: sans-serif;
  font-weight: normal;
  font-size: 20px;
}

.button-login {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
.button-register{
  border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.button-register1{
  border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.switch{
  position:absolute;
  top: 400px;
  left:0;
  width:100%;
  height:100%;
}

header{
  background-color: #d80bdf;
  position:fixed;
  top: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
}

header * {
  display:inline;
}

header li{
  margin:15px;
}

header li a {
  color: rgb(255, 187, 0);
  text-decoration: none;
}

.posts{
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

